@keyframes colorCycle {
  0%, 55% {
    filter: brightness(0) invert(1);
  }
  11%, 33% {
    filter: none;
  }
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 104.8rem;
  padding: 5.6rem 2.4rem;
  
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12.8rem;
    line-height: 12.8rem;
    letter-spacing: -1.24rem;
    color: var(--white);

    span {
      padding: 0 0.67rem;
      filter: brightness(0) invert(1);
      animation: colorCycle 10s ease-in-out infinite;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    span:nth-child(1) {
      background-image: linear-gradient(90deg, #007cf0, #00dfd8)
    }

    span:nth-child(2) {
      background-image: linear-gradient(90deg, #7928ca, #ff0080);
      animation-delay: 3.33s;
    }

    span:nth-child(3) {
      background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
      animation-delay: 6.66s;
    }
  }
  
  .buttons {
    display: flex;
    align-items: center;
    margin-top: 6.4rem;
    
    > button {
      margin: 1.2rem;
      padding: 1.5rem 4.5rem;
      background: var(--white);
      border: 0.1rem solid var(--white);
      border-radius: 0.4rem;
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--black);
      cursor: pointer;
      transition: 0.2s ease-in;
      
      &.outlined {
        background: transparent;
        border: 0.1rem solid var(--gray);
        color: var(--gray);
      }
      
      &:hover {
        background: transparent;
        border: 0.1rem solid var(--white);
        color: var(--white);
      }
    }
  }

  h2 {
    margin: 6.4rem 0;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.04rem;
    text-align: center;
  }
}